extends layout

block content 
    h1 Please Sign Up

    form(method='POST' action='')
        .form-group 
            label(for='name')
            input.form-control(type='text', required=true, placeholder='your name')
        .form-group         
            label(for='email')
            input.form-control(type='email', required=true, placeholder='your email')
        .form-group 
            label(for='email')
            input.form-control(type='password', required=true)
        button.btn.btn-primary(type='submit') Sign up